:root {
    --blanco: #CCCCCC;
    --oscuro: #212121;
    --primario: #00434D;
    --secundario: #4CCBB3;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}
/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box; /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100% );
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
.boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
    margin-left: 10rem;
}

.boton1 {
    background-color: var(--secundario);
    color: var(--oscuro);
    padding: 1rem 3rem;
    margin-top: 3rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}
@media (min-width: 768px) {
    .boton {
        width: auto;
    }
}
.boton:hover {
    cursor: pointer;
}

.sombra {
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.48);
    background-color: var(--blanco);
    padding: 2rem;
    border-radius: 1rem;
}


/* Tipografia */

*{
    text-decoration: none;
}
h1 {
    font-size: 2rem;
    
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 1.8rem;
}
h4{
    font-size: 2.8rem;
}
img {
    max-width: 100%;

}
a{
    color: var(--secundario);
    font-weight: bold;
    font-size: 2rem;
    margin-top: 2rem;
}

.encabezado{
    display: grid;
    border: 50rem;
    grid-template-columns: 50% 50%;
}
.titulo-tema {
    font-size: 2rem;
    height: 6rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 15rem;
    color: var(--blanco);
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;

}
.servicio1{

    display: grid;
    border: 50rem;
    grid-template-columns: 50% 50%;
    margin-left: 50rem;
    color: var(--secundario);
    font-size: 1rem;
}
.servicio11{
    font-size: 2rem;
    font-weight: bold;
    color: var(--secundario);
    margin-top: 2rem;
}
.servicio2{

    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.servicio22{
    margin-top: 1rem;
    color: var(--oscuro);
}

/* Titulos */
.titulo span {
    font-size: 2rem;
    text-align: left;
    margin-left: 2rem;
}

/** Utilidades **/
.w-sm-100 {
    width: 100%;
}
@media (min-width: 768px) {
    .w-sm-100 {
        width: auto;
    }
}
.flex {
    display: flex;
}
.alinear-derecha {
    justify-content: flex-end;
}


/* ia */
.ia {
    background-image: url(../img/ia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-ia {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;

}
.contenido-ia h2, 
.contenido-ia p {
    color: var(--blanco);
    margin-left: 10rem;
}
.contenido-ia .ubicacion {
    display: flex;
    align-items: flex-end;
}

.entradas {
    list-style: none;
}

.widget-entrada__label,
.entrada__label{
    font-family: var(--fuenteHeading);
    font-weight: bold;

}
.entrada {
    padding: 1rem 0;
}
.entrada__imagenp{
    width: 100%;
    height: 100%;
    padding: 3rem 0;
    object-fit: cover;
}
.entrada__imagens{
    padding: 3rem 0;
    margin-left: 5rem;
}

.entrada__imagen1{
    padding: 3rem 0;
    grid-column: 2/3;
    margin-left: 5rem;
}
.entrada__informacion1{
   
    grid-column: 3/4;
}

.no-margin{
    color:var(--secundario)
}
@media (min-width: 768px){
    .entrada {
        display: grid;
        grid-template-columns: 50% 25% 25%;
        column-gap: 2rem;
    }
    .entrada2{
        display: grid;
        grid-template-columns: 50% 25% 25% ;
        column-gap: 2rem;
    }
}
.entrada:last-of-type{
    border: none;
}

.ia1 {
    margin-top: 7rem;
    background-image: url(../img/ia1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    position: relative;
    margin-bottom: 2rem;
    width: 100%; /* Abarca horizontalmente de orilla a orilla */
    left: 0; /* Asegura que la imagen se posicione correctamente */
    right: 0; /* Asegura que la imagen se posicione correctamente */
}
.contenido-ia1 {
    position: absolute;
    background-color: rgba( 0,0,0, .7 ); /** Anterior **/
    background-color: rgba(0, 0, 0, 0.7);
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    text-align: left;
    

}
.contenido-ia1 h2{
    color: var(--secundario);
    margin-left: 10rem;
} 
.contenido-ia1 p {
    color: var(--blanco);
    margin-left: 10rem;
}
.contenido-ia1 .ubicacion {
    display: flex;
    align-items: flex-end;
}
@media (min-width: 768px) {
    .valores {
        display: grid;
        grid-template-columns: repeat(3, 1fr) ;
        column-gap: 1rem;
        
    }
}

.valor1 {
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
}
.valor2 {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valor3 {
    margin-top: 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.valores {
    display: flex;
    justify-content: space-around; /* Distribuye los elementos horizontalmente con espacio alrededor */
  }

  .iconos h4 {
    font-size: 2.8rem; 
    color: var(--secundario); 
    text-align: center;
    font-weight: bold;

  }
  .iconos1 h4 {
    font-size: 2.8rem; 
    color: var(--primario); 
    font-weight: bold;

  }
  
  .iconos li {
    font-size: 1.8rem; 
    color: var(--blanco); 
    text-align: left;
    margin-left: 20px; 
    font-weight: bold;
  }
  .iconos1 li {
    font-size: 1.8rem; 
   color: var(--blanco);
    text-align: left;
    margin-left: 20px; 
    font-weight: bold;
  }
  
  

.iconos {
    height: 45rem;
    width: 30rem;
    background-color: var(--primario);
    border-radius: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}
.iconos1 {
    height: 58rem;
    width: 40rem;
    background-color: var(--secundario);
    border-radius: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}
.footer {
    background-color: var(--primario);
    padding-bottom: 3rem;
    margin-top: 4rem;
    text-align: center;
}
.footer h1{
    font-size: 3rem;
}

.navegacion__enlace {

    font-size: 2.5rem;
    color: var(--blanco);
    margin-right: 2.5rem;


}

